[2013-08-05 07:19] Itxaka opened #1 "Need to write tests"
There is no tests for the whole thing.

[2013-08-05 07:22] Itxaka opened #2 "Add edit user"
Edit user is missing

[2013-08-05 07:22] Itxaka opened #3 "Add edit hook"
edit hook is missing

[2013-08-05 07:23] Itxaka opened #4 "Add edit project member"
edit project member is missing

[2013-08-05 07:24] Itxaka opened #5 "Add Snippets utils"
There is no way of working with snippets yet

[2013-08-05 07:24] Itxaka opened #6 "Add repository"
There is no way of interacting with the repositories yet

[2013-08-05 07:25] Itxaka opened #7 "Add deploy keys"
there is no way of interacting witht he repositories yet.

[2013-08-05 19:31] #2 closed, assigned to Itxaka

[2013-08-07 12:21] Itxaka commented on #3
Seems that there is no edit hook!

[2013-08-07 12:21] #3 closed, assigned to Itxaka

[2013-08-07 12:27] #4 closed, assigned to Itxaka

[2013-08-08 11:55] #7 closed, assigned to nobody

[2013-08-08 20:14] gpocentek opened #8 "Duplicated effort?"
Hi,

I've started my own python-gitlab project a while ago, maybe we could see if things can be merged?

https://github.com/gpocentek/python-gitlab

[2013-08-09 12:43] Itxaka commented on #8
Hi @gpocentek !

Wow I didn't knew there was another wrapper! As I saw only a couple of wrapper in the documentation I assumed there was no wrapper for python.

Sure we could see of integrating both projects into one, I'll have a look at your code this weekend.

Cheers!

[2013-08-21 12:31] Itxaka opened #10 "Documentate @Burstaholic changes"
There was some really good improvements from @Burstaholic that we need to update the docs with.

[2013-09-03 09:35] Itxaka commented on #8
Hi again @gpocentek,

after checking both project, way too much work would be involved into merging them and unfortunately I don't have that kind of time to do it :(

Cheers anyway :D

[2013-09-03 09:35] #8 closed, assigned to nobody

[2013-09-03 09:58] Itxaka commented on #10
Done

[2013-09-03 09:58] #10 closed, assigned to Itxaka

[2013-09-10 12:42] jirihnidek opened #13 "Code refactoring"
Hi,
I strongly recommend to split **init**.py to several files. It would be also more logical to have several classes for Projects, Hooks, Groups, etc.

BTW: your pylint rating is very low: 3.69/10

Cheers,

Jiri

[2013-09-10 13:14] Itxaka commented on #13
Hi there!

I fixed the > 80 chars lines and that got the pylint score up to 5.78. Still, Im not convinced as it makes the code much more unreadable.

Regarding the rest, it would involve changing a lot of variables which I find kind of time consuming but I could do it...with time :D

A couple of things more, splitting init into several files, could you explain the logic in that? I wanted python-gi

[2013-09-10 14:28] jirihnidek commented on #13
Hi,
pylint could be configured. The long lines is small mistake :-). On the other side there is something called PEP8 and it is very strong convention in Python community: http://www.python.org/dev/peps/pep-0008/. Variables called 'r' are not descriptive and camelCase function naming isn't used in most Python modules. If you do not have good reason to use camelCase (autogenerated binary module, ba

[2013-09-11 13:07] samrocketman opened #14 "Missing public option from createProject API call."
In the GitLab 6 API there is an [option](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/projects.md#create-project) for making a project `public` when it is created using `git.createProject()`.

[2013-09-12 07:52] Itxaka commented on #14
Thank you! Fixed it, uploading it now. Thanks to this issue, now we can manage Gitlab 5 and 6 and add any extra options that version 6 has without having to heavily modify the code :D

[2013-09-12 07:53] #14 closed, assigned to nobody

[2013-09-12 14:52] samrocketman commented on #14
Nice!  I'll test it out and let you know of my results from working with it :)

I'm using your project in my [gitlab-mirrors](https://github.com/sag47/gitlab-mirrors) project.  I'll make an update reflecting your API changes and I'll be adding SVN to it as well.  Thanks for the quick change!

[2013-09-12 21:06] samrocketman opened #15 "Had trouble with setting options for createProject"
https://github.com/gitlabhq/gitlab-recipes/issues/126

I was having trouble with setting new options for `git.createProject`.  I was passing options to the function as booleans like `True` and I even tried `str(True)`.  I found that the API is expecting a number such as `0` or `1` e.g. `public=1`.  I resolved that issue by writing `str(int(True))`.

Not sure if you care to modify anything as it wa

[2013-09-13 07:10] Itxaka commented on #15
Hi there! thanks for your feedback!

Im not sure I understand your problem, going by the documentation http://python-gitlab.readthedocs.org/ all the args to createProject() are strings so a simple:

git.createProject("new project", public="1")

Should work, I think.

Can you explain it further?

Im firing up a VM to install gitlab 6 and try the method to see if I can find the issue you are mention

[2013-09-13 07:12] Itxaka commented on #14
Oooh, interesting project you got there. I'll check it out :D

[2013-09-13 14:07] samrocketman commented on #15
Sure, I'm using [optparse](http://docs.python.org/2/library/optparse.html) for argument handling in a python 2.x script.  I'm setting options in the script like `--wiki` and `--issues`.

[My optparse](https://github.com/sag47/gitlab-mirrors/blob/public/lib/manage_gitlab_project.py#L21-L31) looks like the following:

[code]

So I was creating a project like.....

[code]

Since I was passing a boole

[2013-09-13 14:22] samrocketman commented on #15
https://github.com/Itxaka/python-gitlab/blob/master/gitlab/__init__.py#L267-L272

You could check for typing in your code and then auto convert it for the user passing the argument.  e.g.

[code]

Utilize it like so...

[code]

And do the same for the public value.  But again it's not that big of a deal.  If you add it to your documentation I think it should be enough and note that booleans don't

[2013-09-13 14:28] samrocketman opened #16 "No need for specifying GitLab version 5 or 6"
I'd like to note that your [previous code](https://github.com/Itxaka/python-gitlab/blob/5da9bc7ffcfdca34d86cc69c34caa7a84d27cfaa/gitlab/__init__.py#L252-L255) worked with GitLab 6.  I think rather than forcing the `python-gitlab` user to specify which version of GitLab they're using it would be better to check if the `public` option exists.

If the `public` option exists, then use the new GitLab 6

[2013-09-13 14:29] samrocketman commented on #16
I'll create a pull request.

[2013-09-14 12:51] #16 closed, assigned to nobody

[2013-09-14 12:54] Itxaka opened #20 "add pagination to Gitlab.getUsers and Gitlab.getGroups"

[2013-09-14 12:54] Itxaka opened #21 "update documentation"
update docs with the new features and args

[2013-09-14 12:58] Itxaka commented on #15
Hi there,

I was thinking maybe instead of using all args as strings, change them to int, at least for values that only have those options. I mean, it makes no sense tu use strings when the value is gonna be 1 or 0/true or false, like in the case of public or xxxID

what do you think?

[2013-09-14 17:56] samrocketman commented on #15
I didn't know that it would straight up handle `int`.  Yeah I'd say converting to just an `int` is better if `requests` can handle that.

[2013-09-14 17:59] samrocketman opened #23 "Versions, tags and branches"
You should take advantage of tags and branches.  You should also version your software and keep stability branches for each major version.  Similar to how @gitlabhq does it in their projects.  As fast as development is for GitLab I think it would be useful in case you need to completely refactor `python-gitlab` for a new version of GitLab you have a stable branch for previous versions of GitLab.

[2013-09-15 19:41] Itxaka commented on #23
Yeah, I got git pretty abandoned, I basically only use push, pull and... rebase sometimes. Will check that link.

Thank you :+1:

[2013-09-15 22:28] samrocketman commented on #20
@Itxaka This has been resolved in pull request #22.

[2013-09-16 06:02] #20 closed, assigned to nobody

[2013-09-16 07:15] Itxaka commented on #15
I tried to change it, let me know if it works now :)

[2013-09-24 16:17] samrocketman opened #28 "sudo added to GitLab 6.1 API"
GitLab 6.1 now has [sudo](https://github.com/gitlabhq/gitlabhq/tree/6-1-stable/doc/api#sudo) as an option.  I think it would be worth adding to the API of python-gitlab.  You should start this in a new branch and tag it for 6.1 when it's ready.  I'll add it if I ever need this functionality but for now I'm still working on other things in my corporate setup.

[2013-09-24 16:19] samrocketman commented on #28
According to the [gitlabhq CHANGELOG](https://github.com/gitlabhq/gitlabhq/blob/6-1-stable/CHANGELOG#L6-L7) group membership has been added to the API as well.

[code]

[2013-09-24 20:30] Itxaka commented on #28
Will have a look tomorrow, thanks for the heads up!

[2013-09-25 21:55] Itxaka commented on #28
basic support is on, gotta check deeper and try testing it a bit, but in a couple of tests is working.

[2013-09-25 21:56] Itxaka opened #29 "add new doc for sudo api"
we need to document the new sudo command across the pkg

[2013-09-25 21:57] Itxaka opened #30 "refactor the functions names to lowercase"

[2013-09-26 13:44] samrocketman commented on #28
Cool I looked at your code but haven't tested it myself.  I'm still currently running at 9c5e375599a6d89ab1f4520224f47b43b40bcf9b.

[2013-09-26 13:48] samrocketman commented on #23
I'm going to close this.  I see you're finally starting use tags/branches :+1: :godmode:

[2013-09-28 18:42] #30 closed, assigned to nobody

[2013-09-28 18:43] #15 closed, assigned to nobody

[2013-09-28 18:44] Itxaka commented on #13
pylint is now at 9.65 :cat: !

Will try to slit it in several submodules for the future.

Thanks!

[2013-09-28 18:44] #13 closed, assigned to nobody

[2013-09-28 20:02] jirihnidek commented on #13
Great :+1: . You should update documentation to your module. :-)

[2013-10-07 09:38] #29 closed, assigned to nobody

[2013-10-07 09:41] Itxaka opened #35 "Separate the library into smaller parts"
Having so many functions into one class and one file is kind of ugly and it goes against PEP (too many functions for a class I believe).

We need to check if its viable to split it in several classes so you import what you need (from gitlab import projects for example)

[2013-10-08 17:40] samrocketman commented on #35
@Itxaka I'm curious, why the name change?  I realize this is OT but I'm not sure how to contact you off list.

[2013-10-08 17:51] Itxaka commented on #35
Hey @sag47 ,
it is because there is another project with the same name, on github and on Pypi, so the name was colliding in both places. Plus thanks to automated services, the docs from this project appeared on several webs as docs of the other project, which I guess was quite disturbing for the users of the other project.

Still, I don't like i-python-gitlab at ALL! It sounds pretty bad. Got any

[2013-10-08 20:23] samrocketman commented on #35
pyapi-gitlab ("Pie-Aye-Pee-Eye-GitLab")?  It flows phonetically a little better.  Good job on keeping up with API functionality as best you can.  I understand GitLab has a fairly fast dev and release cycle.  Which is both awesome and a burden.

[2013-10-09 06:19] Itxaka commented on #35
Sounds good! Ill try to change it today, sounds much better

[2013-10-09 10:16] jirihnidek opened #37 "Params page and per_page"
Hi,
methods like git.getprojects() git.getusers(), etc. have parameters `page=1` and `per_page=20`. These parameters are not in documentation and it can influence behavior of Python script a lot. It means that your script will work for few projects, users, groups, but when you go to the production, then it will stop to work, because you have hundreds of users, projects, etc.

I vote to remove/modi

[2013-10-09 15:08] Itxaka commented on #37
@sag47 introduced those params, maybe there was a reson for those limits?

[2013-10-09 16:41] jirihnidek commented on #37
`page=1` and `per_page=20` are default values from GitLab API: http://api.gitlab.org/

[2013-10-09 17:21] samrocketman commented on #37
@jirihnidek you are correct; those are the defaults from the GitLab API.  So even if you set them to `None` the API will behave with those defaults.  It was an odd behavior I discovered and it took a long time to troubleshoot (see #18, #22).  This way, by explicitely stating pagination the developer against the API doesn't have to dig very deep to find those values.

If you'd like to see an exampl

[2013-10-09 22:15] Itxaka commented on #28
Tested again, it does not work. Gives a 500 error if no sudo= is passed along.
A fix is to check like this:

[code]

Will try to fix it tomorrow

[2013-10-10 14:12] Itxaka commented on #37
Yeah, sorry guys, documentation is BORING!

I'l try to keep it updated for this weekend...hopefully :beer:

[2013-10-10 14:34] #28 closed, assigned to Itxaka

[2013-10-11 05:06] samrocketman commented on #1
[python unittest phony web server](http://stackoverflow.com/questions/2276689/how-do-i-unit-test-a-module-that-relies-on-urllib2)

After some light research I found that.

[Tests via setup.py](http://stackoverflow.com/questions/6891128/how-to-run-all-tests-in-a-setup-py-script)

[2013-10-11 06:55] Itxaka commented on #1
Thanks you. Yeah I knew about creating phony service and libraries with mock objects but the thing is, I want to test the real thing, just in case the apis change and I miss it, the test would fail.

If there was an open gitlab around....like a demo or something from the gitlab guys it would be much easier.

[2013-10-11 06:57] Itxaka commented on #1
Well, there actually is a demo gitlab from the gitlab makers :smile:
http://demo.gitlabhq.com/

I think I can work with that :+1:

[2013-10-11 07:42] jirihnidek commented on #37
Hi,
I understand, why GitLab API uses `page` an `per_page` and it makes sense to have it in GitLab Python module too, but most developers using this module will try to get all projects, all groups, etc. with own code. Philosophy of Python is to do things once and thus it would make sense to add such code to the module.

[2013-10-11 09:34] Itxaka commented on #37
@jirihnidek if we use None as parameter, wouldn't gitlab answer with 20 per_page anyway? In that case we should use a huge number for it, which is worst in my opinion.

[2013-10-11 15:51] samrocketman commented on #37
@Itxaka @jirihnidek as per the Gitlab documentation the max number which `per_page` can be set is `100`.  That being said are you saying it should return all values by default no matter what unless the developer explicitly states to paginate?

i.e. implement something like this when the parameter values equal `None`?  Sort of like this.... https://gist.github.com/sag47/6937133

If that's the case

[2013-10-14 11:39] jirihnidek commented on #37
Ok ok :-), when it will be well documented, then I don't have any problem with `per_page` and `page`. Closing this issue.

[2013-10-14 13:26] Itxaka commented on #37
@jirihnidek I'll reopen it so I don't forget to add it to docs :+1:

[2013-10-14 13:31] Itxaka opened #39 "addsshkeyuser() doesn't work"
This piece of code is wrong

[code]

But the problem with it is the url. No idea if it has changed on gitlab 6, or it was broken before but hte new url is:

[code]

And we are using:

[code]

where self.keys_url is:

[code]

So we are missing the "s", so we need to change it to the users url which is:

[code]

[2013-10-14 13:43] Itxaka commented on #39
Tested with the new tests, its working now.

[2013-10-14 13:43] #39 closed, assigned to Itxaka

[2013-10-14 14:00] Itxaka opened #40 "getusers() no longer accepts id or sudo"
the current gilab implementation of getusers()  just answers with a list of users, nothing else. There is no options anymore.

[2013-10-14 14:00] #40 closed, assigned to Itxaka

[2013-10-14 14:46] Itxaka opened #41 "fix tests so they run on python 2.6 and 3.X"

[2013-10-21 03:33] samrocketman commented on #21
If you want, I don't mind updating the documentation.  How would I go about doing that?

[2013-10-22 21:58] samrocketman opened #42 "GitLab 6.2 release API changes"
It's that time again... API changes in the [new 6.2 release](https://github.com/gitlabhq/gitlabhq/blob/6-2-stable/CHANGELOG).  Namely:

[code]

Also, not sure why it isn't in the `CHANGELOG` but but according to a [blog post](http://blog.gitlab.org/gitlab-ce-6-dot-2-released/) `Feature: Download repo archive (Izaak Alpert)` has been added as well.

[2013-10-22 21:59] samrocketman commented on #28
@Itxaka I would probably label this as a feature or enhancement rather than a bug.  It is something that didn't previously exist as opposed to implemented functionality the is not working correctly under certain conditions.

[2013-10-24 06:20] Itxaka commented on #42
oh god, this guys never stop! :D

Thanks for the heads up, will try updating it this weekend.

[2013-10-24 06:22] Itxaka commented on #21
Hi Sam, thanks for the offering.

Do you know anything about sphinx? http://sphinx-doc.org/
It's like restructuredtext or markdown.

The file to modify is the index.rst in the docs/ directory.

Thanks again.

[2013-10-24 06:23] Itxaka commented on #28
True. I labeled as both, for historic purpouses.

[2013-11-01 12:13] jirihnidek commented on #41
Your unit tests code includes username and password. It is not wise. You can make it more secure:

http://about.travis-ci.org/docs/user/build-configuration/#Secure-environment-variables

[2013-11-05 19:15] samrocketman commented on #41
Re: @jirihnidek
Specifically here https://github.com/Itxaka/pyapi-gitlab/blob/6.1/tests/gitlab_test.py#L14-L16

[2013-11-06 07:56] jirihnidek commented on #41
Re: @sag47 exactly :+1:

[2013-11-06 22:47] Itxaka commented on #41
@jirihnidek @sag47 True! Will try to have a look at the Travis CI docs tomorrow and fix it. Thanks for the heads up!

[2013-11-08 03:40] agb80 commented on #42
I'm getting this error trying to use with gitlibar-mirrors:

[code]

do you think that is because I'm running 6.2?

[2013-11-08 08:56] Itxaka commented on #42
@agb80 which version of pyapi-gitlab are you using? the one that comes with gitlab-mirrors or did you update it via git/pip?

If it's the latest one from git/pip getGroups has been renamed to getgroups instead. If it's the one with gitlab-mirrors....than I have no idea, could you post more code (how you call it the method, for example) so I can have a look at it?

Thanks!

[2013-11-08 16:37] agb80 commented on #42
@Itxaka seems is a problem with the pyapi-gitlab included on gitlab-mirrors, I will check it with @sag47 and let you know. Thanks

[2013-11-08 19:45] samrocketman commented on #42
@agb80 If you followed my install instructions for checking out the specific version of pyapi-gitlab then you wouldn't have encountered that issue.  In any case I'm encountering other bugs in the latest pyapi-gitlab.  It would have been better for you to open a new issue rather than hijack this one.

[2013-11-08 19:51] samrocketman commented on #23
@Itxaka You're kind of using branches differently than what I meant.  You're doing all of your development on the 6-1-stable branch and neglecting the other branches.  This is not much different than what I previously described.  It would be better for you to have a development branch for all development and only utilize the stable branch(s) for stable working commits only.

I'm attempting to deve

[2013-11-08 20:13] samrocketman opened #44 "Host, User, and Token are required"
[code]

That no longer works with the latest 6.1 branch of pyapi-gitlab.  Now at a minimum `host` and `user` are required with `token` being optional (see [source](https://github.com/Itxaka/pyapi-gitlab/blob/6.1/gitlab/__init__.py#L16)).

Is that intended?  Should I update the documentation and pull request?  I honestly think the old behavior was fine because it works just fine with just a `host`

[2013-11-08 20:15] samrocketman commented on #44
@Itxaka Can you create a "development" branch so that I can send you pull requests to that instead of your `6.1` stable branch?  User is not required.

[2013-11-08 20:23] samrocketman commented on #42
@agb80 I just updated gitlab-mirrors and it fixes your no attribute error.  See the development branch.  There isn't a stable release of gitlab-mirrors yet which addresses the latest pyapi-gitlab.  You can open an issue in my project so that we can track it and better communicate.

[2013-11-08 21:27] samrocketman commented on #44
d5317f3b509f859086a20a30544f313c41fcaf70 introduces this bug. This bug was introduced when you added sudo initially.

[2013-11-17 13:34] Itxaka commented on #23
Yes, you are rigth. I started correctly but suddenly changed to work on 6.1  ranch only.

Will try to fix a couple of bugs, fill the documentatiin finally and set the final 6.1 stable branch and move everything to development in order to do a 6.2 stable release soon.

Cheers

[2013-11-18 15:01] samrocketman opened #46 "Project description references python-gitlab"
Your project description just under your project name states...

I assume this is simply old and you're accidentally calling it python-gitlab.

[2013-11-19 09:45] Itxaka commented on #46
Fixed! Good catch :D

[2013-11-19 09:45] #46 closed, assigned to nobody

[2013-11-19 09:47] Itxaka commented on #44
I see. This was a initial workaround for using sudo. I needed an username in case sudo was empty, but later changed the way sudo is called so the user  during init should not be required anymore, only if calling the login method.

[2013-11-19 09:52] #44 closed, assigned to nobody

[2013-11-19 10:04] #37 closed, assigned to nobody

[2013-11-19 10:49] Itxaka opened #47 "editissue() not working"
if you do not pass all the parameters to editissue() it fails. we have to check if the args are empty before adding them to data.

There is gotta be a better way of doing this.

[2013-11-19 14:18] #47 closed, assigned to nobody

[2013-11-20 12:36] Itxaka commented on #41
Should be fixed now, it runs on python 2.6, 2.7 and 3 and has protected environment variables instead of user/pass embedded :dancers:

[2013-11-20 12:36] #41 closed, assigned to nobody

[2013-11-20 13:46] samrocketman commented on #41
@Itxaka I would still consider this problem not resolved until you change the password and authentication token on the server.  Please note someone can easily [look at your edit history and see the user and password](https://github.com/Itxaka/pyapi-gitlab/blob/4d778d780161869550d8e514cdc50df2398f844e/tests/gitlab_test.py#L14-L26).
1. Change the password for `pyapi-gitlab` user.
2. Generate a new p

[2013-11-20 15:38] Itxaka commented on #41
@sag47 Done!

[2013-11-20 17:02] #5 closed, assigned to nobody

[2013-11-23 10:44] Itxaka commented on #21
Docs are updated, but still missing the snippets part

[2013-11-23 10:48] #21 closed, assigned to Itxaka

[2013-11-24 13:59] #1 closed, assigned to nobody

[2013-11-24 13:59] #6 closed, assigned to nobody

[2013-11-24 14:54] Itxaka opened #52 "Write some examples into the documentation"
We need to put up some example of use in the docs for the people to use them

[2013-11-25 23:23] Itxaka commented on #23
Hey @sag47 , Inthink Im finally doing it correctly :D
developing on develop branch and when stable, creating branches for stable releases. What do you think?

[2013-11-26 00:12] samrocketman commented on #23
That's better in my opinion.  One last thing though you don't need to change it if you don't want to is that your develop branch is the default branch. This means when people clone your repository they are getting development code and not stable code.

Not all projects develop the way I do for instance look at gitlabhq.  They develop on the master branch and then have stable branches for each rele

[2013-11-26 00:53] Itxaka commented on #23
Yeah, I wasn't sure what to put as default, but I thougth that if the stable packages are at pypi, I guess people use pip to install them instead of cloning git repositories and such, so any developer that comes around can see full front the ongoing code instead.

[2013-11-26 02:10] samrocketman commented on #23
@Itxaka That makes sense for you to use your model in that way.  In the case of my `gitlab-mirrors` project it's the opposite where the source to get the software is the git repository itself so for me stable releases on the default branch is to be desired.

[2013-11-26 02:22] samrocketman commented on #23
Also since you use pip.  Your tags in the source repo should match the version number in pip.  As a python developer I would expect to be able to check out your source tree and then check out the exact version number displayed in pip to get the same version library from the source git repository.  That's why you see me using incremental tags (e.g. `v0.1.0`, `v0.1.1`, etc.) in my project.  This mak

[2013-12-20 19:46] jproffitt commented on #42
I believe the PR I did added all the Gitlab 6.2 stuff. (along with some stuff thats been around for a while, like notes) Can we close this task?

[2013-12-22 11:44] Itxaka commented on #42
Sure, good work!

[2013-12-22 11:44] #42 closed, assigned to nobody

[2014-02-14 07:41] luoqpolyvi opened #61 "Got 'u' prefix for every key/value pair of returned json"
I simply called like below

[code]

Here's piece of output

[code]

What's wrong with me? Thanks
I'm running on gitlab 6.4.3

[2014-02-14 08:22] luoqpolyvi commented on #61
sorry, I'm new to python, it's my wrong understanding

[2014-02-14 08:22] #61 closed, assigned to nobody

[2014-03-04 13:10] Itxaka commented on #35
closing this :D

[2014-03-04 13:10] #35 closed, assigned to nobody

[2014-03-04 13:10] Itxaka commented on #52
There is documentation already this should be closed.

[2014-03-04 13:10] #52 closed, assigned to Itxaka

[2014-03-05 16:01] waghanza opened #64 "Import problem"
Hi,

I have installed the latest version of **gitlab**, `6.6.5`. In order to migrate from a gitolite to my fresh gitlab installation, I want to use the API to create my git repositories.

For this I've made a little `python` script

[code]

and I have a error :

[code]

I never had this error on a python script. Do anybody has a idea of what's going on ?

Regards,

[2014-03-05 16:06] Itxaka commented on #64
Hello,

This code is not correct:

[code]

You should be doing:

[code]

and then use the git object

[2014-03-05 16:18] waghanza commented on #64
sorry, wrong copy/paste

my script

[code]

Traceback

[code]

Even ruby library https://github.com/NARKOZ/gitlab seems to fail ...

[2014-03-05 16:29] Itxaka commented on #64
Hello,

are you calling your python file gitlab.py? Maybe it's a namespace issue, as it tries to import from gitlab.
Change the file name to whatever.py and try again, or bring the interactive console and do

[code]

That should not fail, post the output here.

[2014-03-05 16:35] waghanza commented on #64
[code]

This error is solved. I do not know why, by python interractive shell try to load `gitlab.py` in current dir ...

[2014-03-05 16:35] #64 closed, assigned to nobody

[2014-03-05 21:56] dialt0ne opened #65 "TLS/SSL support broken"
This commit https://github.com/Itxaka/pyapi-gitlab/commit/618e184b3c09b035023f6ec8b8921f92cc011751 forces the gitlab url to be HTTP only instead of HTTPS

[2014-03-06 08:37] Itxaka commented on #65
Oh wow, good catch! Will try to fix it asap!

[2014-03-06 08:56] #65 closed, assigned to nobody

[2014-03-06 08:58] Itxaka commented on #65
Should be fixed, thanks again for the catch!

[2014-03-06 14:36] dialt0ne commented on #65
Confirmed! :thumbsup: Thanks for the quick turnaround. :smile: :clap:

[2014-03-21 13:06] ghost opened #66 "verify_ssl parameter not passed to get/post requests"
Dear users (and maintainer ;) ),

I'm using the wrapper script in combination with a (self-signed certiticate) gitlab instance:

[code]

It works with a few methods, but not when using e.g. the _wall methods. For example the *getissuewallnotes_ method:

[code]

Compared to the _getprojectissue_ method, the _verify=self.verify_ssl_ option is _not_ passed. I changed the _getissuewallnotes_ method to

[2014-03-22 10:52] Itxaka commented on #66
Good catch!

Im looking at it right now, will hopefully have a patch in a couple of hours.

Thanks! :+1:

[2014-03-22 11:05] #66 closed, assigned to Itxaka

[2014-04-03 19:11] liaoarden opened #68 "Custom Access Levels for Groups"
So right now it seems that access levels for groups are hardcoded to only support the official gitlab access levels, would it be possible to add in support for custom access levels like so:

[code]

[2014-05-11 06:19] sloede opened #75 "Update PyPI index with Python3 fix"
The fix for Python3 in 84a2b08 is not available from PyPI. It would be great if this can be updated too. (I do know this is probably the wrong venue for this issue, but I couldn't find a better place. Feel free to delete me :))

[2014-05-11 10:32] Itxaka commented on #75
Good catch, I tagged and uploaded it to pypi as 6.2.3 :+1:

[2014-05-11 10:32] #75 closed, assigned to nobody

[2014-06-17 10:29] gmalmeida opened #79 "Question"
While running a small example:

[code]

 I get the message

[code]

[2014-06-17 19:49] Itxaka commented on #79
I just tried witht he latest version, got it working:

[code]

which version are you using? If using linux just do:

[code]

[2014-06-17 19:51] Itxaka commented on #68
Closing this as the commit was closed and never updated

[2014-06-17 19:51] #68 closed, assigned to nobody

[2014-06-28 11:52] avckp opened #80 "Is there a way to push to repos using the api?"
I have a gitlab instance running. I can get the repo/project details using the api. But how can I push directly to the repo using the API? Has it been implemented?
I have been through the docs but have not found anything.

[2014-06-28 12:24] Itxaka commented on #80
Nope, that is git stuff. pyapi gitlab is mre oriented to management of the Gitlab stuff than the git commonds below it.

For something like that you con use something like GitPython.

[2014-06-28 12:24] Itxaka commented on #79
Closing as no reponse.

[2014-06-28 12:24] #79 closed, assigned to nobody

[2014-06-29 06:21] avckp commented on #80
Ok.
Thanks for pointing to GitPython.

[2014-06-29 06:21] #80 closed, assigned to nobody

[2014-07-18 18:16] GABeech opened #83 "JSON response from createissue is discarded"
The `createissue` function discards the returned json and only returns true or false.

This makes it much harder to work on an issue you just created via a script.

If you change:

[code]

to:

[code]

It would allow a script to work on a created issue immediately instead of having to try and figure out what the ID of the new issue is.

[2014-07-22 08:14] Itxaka commented on #83
:+1:

[2014-08-01 11:54] 5ainews opened #87 "SSL ERROR"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.6/site-packages/pyapi_gitlab-6.2.3-py2.6.egg/gitlab/**init**.py", line 53, in login
    headers={"connection": "close"})
  File "/usr/lib/python2.6/site-packages/requests-2.3.0-py2.6.egg/requests/api.py", line 88, in post
    return request('post', url, data=data, *_kwargs)
  File "/usr/lib/python2.6/

[2014-08-01 21:03] avckp opened #88 "Security of API calls"
For any API call I need to attach a private_token and username as this

`GET http://example.com/api/v3/projects?private_token=QVy1PB7sTxfy4pqfZM1U&sudo=username`

Anybody snooping can find out the token username pair and cause havoc.
This can be fixed by restricting the domains from which API requests are handled by the git server.
Is there more elegant way of doing this? Am I missing something in

[2014-08-01 22:41] ghost commented on #87
Hi,

I guess you're using a self-signed certificate for your GitLab instance. Try to set the `verify_ssl` to `False` in the GitLab constructor, like:

[code]

Please report, if that will work for you :)

[2014-08-02 02:38] 5ainews commented on #87
It's work, thanks

[2014-08-02 02:38] #87 closed, assigned to nobody

[2014-08-03 11:48] Itxaka commented on #88
You could use https to encrypt the communications. Anyway, this is a problem that comes from the Gitlab API in any case, and IIRC any API out there kind of uses the same thing, be it on the url or as an http header. I don't think there is a lot I can do from the python bindings to the Gitlab API.

[2014-09-08 11:30] #88 closed, assigned to nobody

[2014-09-08 11:31] #83 closed, assigned to nobody

[2014-09-17 20:14] arruda opened #93 "Add new version to PIP"
Bump the version, and add it to PIP... there are already 70+ commits of features since last version (6.3.2).

[2014-10-01 21:38] solomongifford opened #94 "Remove markdown dependency"
Markdown is no longer supporting python2.6.  I suggest removing this dependency.

[2014-10-06 20:39] solomongifford commented on #94
I created a pull request.

[2014-10-06 20:39] #94 closed, assigned to nobody

[2014-10-10 20:46] Leibniz137 commented on #23
Could you please release a new version/tag and update pypi accordingly?

[2014-10-11 22:01] Itxaka commented on #23
Yup!

[2014-10-11 22:01] #23 closed, assigned to nobody

[2014-10-11 22:02] Itxaka commented on #93
True. I was waiting to have some more time and getting it to par with the latests api versions of gitlab. Let

[2014-10-21 09:48] megatron-uk opened #102 "Add 'can_create_group' option to createuser() method"
It's just a missing parameter compared to the latest Gitlab API - I'm batch adding hundreds of our internal staff and student users to Gitlab and don't want all of them to have the ability to create new groups!

Here's a patch output from my own locally modified copy of pyapi-gitlab/**init**.py: https://gist.github.com/megatron-uk/fb12b1d290a2f32fcb5c

It's just two lines in the createuser() metho

[2014-10-23 20:42] onionjake opened #104 "Support new Fork API"
Add support for the new Forking API

See this merge request for details:
https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/191

[2014-10-30 16:05] Slaitt opened #106 "createproject() in the given group"
Hi,

I have a very simple problem when creating a project. I would like to create the project in the given group, but I don't see this option in the list of arguments for createproject() function.

When I create a project it is created in my namespace say Administrator/. How can I move it to the group foo? I tried to use the function git.moveproject(groupID, projectID), but I can't get the project

[2014-10-31 13:49] bdrung opened #107 "Too generic test paths"
I got a bug report for the pyapi-gitlab Debian package:

Please move the tests into the the gitlab namespace by putting them into the `gitlab` directory or adding `gitlab_` as prefix or similar.

[2014-10-31 17:53] Itxaka commented on #106
Hello there,

the parameter you are looking for is namespace_id. From gitlab API documentation:
`namespace_id (optional) - namespace for the new project (defaults to user)`

So if you create your project with createproject(name="whatever", namespace_id=34534) it should work.

Also, when creating a project, the return value is a dictionary containing all the data from the new project, so you could

[2014-10-31 17:57] Itxaka commented on #107
Welp, good catch. As I didn't build any packages for it before, didn't thought of that but you are totally right, this is quite a problem!

On it!

[2014-10-31 18:07] Slaitt commented on #106
Hello,

Great! Thank you. I had to look into the code. Actually I just took a quick look at http://pyapi-gitlab.readthedocs.org/en/6.1/#projects. Thanks for last hint, otherwise I did a loop over all projects to match the name and extract the id.

[2014-10-31 18:07] #106 closed, assigned to nobody

[2014-10-31 18:27] #107 closed, assigned to nobody

[2014-10-31 18:33] Itxaka commented on #102
Hi there,

this should have been fixed on commit: https://github.com/Itxaka/pyapi-gitlab/commit/af393b92c80045071569efb7f883295eea036e05

as we moved from using named parameters to just **kwargs, so you can pass the parameter can_create_group to the createuser() method and it should work.

Wont close this until I got a couple of tests working for this.

[2014-10-31 19:18] Itxaka commented on #102
Tests are on  commit https://github.com/Itxaka/pyapi-gitlab/commit/a29b6beb291ab1d5cbd0f9bbe222dfdd81e6f6c8

Closing this, thanks for the heads up!

[2014-10-31 19:18] #102 closed, assigned to nobody

[2014-10-31 19:19] Itxaka commented on #93
New version will come shortly as I add more tests and find any missing  methods.

[2014-11-02 19:14] arruda commented on #93
\o/

[2014-11-17 09:25] tonicmuroq commented on #93
I have the same request... and now looking forward for this...

[2014-11-18 10:13] akariv opened #108 "updatemergerequest not according to spec"
According to this:
http://doc.gitlab.com/ce/api/merge_requests.html#update-mr

updatemergerequest
1. should be using the "PUT" HTTP method (instead of POST)
2. should be expecting the 200 status code (instead of 201)

[2014-11-18 11:11] Itxaka commented on #108
Good catch, i been working on cleaning up the merge part of the lib so this issue comes on handy.

[2014-11-26 08:03] guanxudong opened #110 "where is acceptmergerequest method?"
i cannot find it. :(

In [2]: g = gitlab.Gitlab('http://xxxx')

In [3]: g.a
g.addcommenttomergerequest  g.addprojectmember
g.adddeploykey              g.addsshkey
g.addgroupmember            g.addsshkeyuser
g.addprojecthook            g.api_url

[2014-11-26 08:06] guanxudong commented on #110
ok.. new version i know it:)

[2014-11-26 08:06] #110 closed, assigned to nobody

[2014-12-04 19:36] Itxaka commented on #108
Fixed in https://github.com/Itxaka/pyapi-gitlab/commit/56d50fbf96cd36d5b0d3e5b966db9b3eb6eb363f

Thanks for the report!

[2014-12-04 19:36] #108 closed, assigned to nobody

[2014-12-04 19:37] Itxaka commented on #93
Almost there! \o/

[2014-12-05 22:34] arruda commented on #93
Yeah! please let us now when it's out =)

[2014-12-07 16:53] Itxaka commented on #104
This is done on v7.5 which just released :D

[2014-12-07 16:53] #104 closed, assigned to nobody

[2014-12-07 16:54] Itxaka commented on #93
@arruda @tonicbupt

Release is out! Available on pip and on github under the v7.5.0 tag.

Make sure to read the README.md as there are quite a few breaking changes that are necessary so its easier to maintain and develop further.

[2014-12-07 16:54] #93 closed, assigned to nobody

[2014-12-07 19:05] arruda commented on #93
Thanks @Itxaka =)

[2015-01-27 06:36] aneroid opened #117 "Get Labels API doesn't have pagination but pyapi `getlabels` does"
Hi,

According to the GitLab docs, [Get/List Labels](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/labels.md#list-labels) does not have any pagination. However, [this API does](http://pyapi-gitlab.readthedocs.org/en/latest/#gitlab.Gitlab.getlabels) and has the `page` and `per_page` params. GitLab seems to ignore the extra params and keeps returning the full list of labels. So when `getl

[2015-03-04 02:24] solomongifford opened #118 "push latest to pypi"
The latest on https://pypi.python.org/pypi/pyapi-gitlab is broken for python 2.6.6 due to https://github.com/Itxaka/pyapi-gitlab/pull/111.

Can we get pypi updated?

[2015-03-13 13:08] packadal opened #120 "ValueError: zero length field name in format"
Hi, the main page says that python 2.6 is supported, however after installing using `pip install pyapi-gitlab=="7.5.0"` I get the following error : `ValueError: zero length field name in format` when calling `getmergerequests`, which seems to indicate it is python 3+.

Is python 2.6 supported and I made a mistake, or should the doc be updated ?

Thanks.

[2015-03-13 13:11] Itxaka commented on #120
Should be supported thanks to a patch from @pminakov on https://github.com/Itxaka/pyapi-gitlab/pull/111

Let me have a look at it

[2015-03-13 13:33] packadal commented on #120
it seems that this was merged _after_ the current release on pypi as stated in #118.

[2015-03-13 14:03] Itxaka commented on #117
Good catch, probably from the old api docs? Ill remove it.

[2015-03-13 14:04] Itxaka commented on #118
will update today with a new version wich fixes many things :D

[2015-03-13 14:04] Itxaka commented on #120
True! Ill still will make the runs work on 2.6 again, then upload the new version to pypi

[2015-03-13 14:32] packadal commented on #120
Awesome ! Thanks :+1:

[2015-03-14 12:28] Itxaka commented on #120
New version is uploaded. Unfortunately Im having issues with the testing on 2.6 but I tried it locally and it seems to work. Let me know if you encounter any issues while running it on 2.6.

Thanks!

[2015-03-14 12:28] #120 closed, assigned to nobody

[2015-03-14 12:28] Itxaka commented on #117
Fixed on https://github.com/Itxaka/pyapi-gitlab/commit/241c32e3e00af6b0ace3b6e86a46d406733ad46f

[2015-03-14 12:28] #117 closed, assigned to nobody

[2015-03-14 12:29] Itxaka commented on #118
Latest version pushed to pypi!

[2015-03-14 12:29] #118 closed, assigned to nobody

[2015-03-16 07:18] packadal commented on #120
I just gave it a try, and as far as I'm concerned this seems to work pretty well.

THanks a lot !

[2015-04-03 07:31] tkw1536 opened #123 "getfile does not work (includes possible fix)"
The getfile() method always returned false for me. I inspected the actual request object and got:

`{'message': '400 (Bad request) "file_path" not given'}`

I then noticed that you are doing:

[code]

(i. e. you are trying to send POST data along with a GET request).

I checked the [Gitlab API doc](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/repository_files.md#get-file-from-repositor

[2015-04-10 22:20] Itxaka commented on #123
Hey, thanks for reporting this. I will have a look tomorrow!

[2015-04-11 15:42] Itxaka commented on #123
Strange, I do not get any errors when doing the same request:

[code]

@tkw1536 Which version are you using? How are you calling the getfile method?

[2015-04-11 15:46] Itxaka commented on #123
Getting from file path works too:

[code]

Getting from different branches + file_path works too:

[code]

[2015-04-12 13:30] tkw1536 commented on #123
I just checked again, it still does not work for me.

I am using Gitlab version 7.8.2 (dbdc1a6) and pyapi-gitlab 7.5.2.

If you can not reproduce the issue, could it be that I have outdated dependencies?

[2015-04-23 17:06] JonathonReinhart opened #125 "string parameters not URL-encoded"
For `getproject()` at least, the slash needs manually URL-encoded by the caller. Example:

[code]

pyapi-gitlab should URL-encode all string parameters before making the request.

[2015-04-23 17:56] jzelinskie opened #126 "licensing"
Would you consider providing an alternate license of `pyapi-gitlab` so that it can be linked with non-free software?

I would honestly prefer something like MIT, but if you want to keep copyleft, [the MPL](https://www.mozilla.org/MPL/) is a popular license that is a source-level copyleft, thus requiring changes to be provided back to the original author, but still allows you to link to non-free so

[2015-04-23 18:38] Itxaka commented on #123
I updated a new version a few days ago, could you try to see if it fixes your problem?

If not, can you provide how you call the function? Maybe is some weird argument?

[2015-04-23 18:46] Itxaka commented on #126
Hey @jzelinskie , why would be the reasoning for this change?

I been thinking about this for a long time actually. At first I went with the GPL3 because it was ok, but the more I went on the innards of it the more I feel like its not the rigth choice for any project to grow.

Would something like the Apache license work for whatever your needs are?

[2015-04-23 18:53] jzelinskie commented on #126
Apache sounds great -- we'd like to use this library to add GitLab support to Quay.io.
It really sucks because both python wrappers for GitLab are GPLv3.

[2015-04-23 19:19] Itxaka commented on #125
Hey @JonathonReinhart , thanks for reporting this. What version of Gitlab are you using?
I want to create a test while fixing this so I need to spin a container with the same version.

Thanks!

[2015-04-23 19:19] Itxaka commented on #126
Great! Im checking to do a hotfix for #125 so Ill probably do the change of the License at the same time a release a new version to pypi.

[2015-04-23 19:25] JonathonReinhart commented on #125
I believe it is version 7.9 CE, but I'll have to confirm when I'm back in
the office.

On Thu, Apr 23, 2015 at 3:19 PM, Itxaka notifications@github.com wrote:

[2015-04-23 19:28] jzelinskie commented on #126
Awesome! Thanks a bunch.

[2015-04-23 19:35] Itxaka commented on #125
Indeed! It should happen on every version as I expect only an id to be passed instead of a project name with namespace!

[2015-04-23 19:42] JonathonReinhart commented on #125
It's a pretty convenient feature of the API. However, it's not orthogonal -
the same feature doesn't work for milestones, or example. To find a
milestone by project namespace/name and milestone title, you can use the
project namespace/name, but have to iterate over all milestones to find the
matching title.

[2015-04-23 21:20] JonathonReinhart commented on #125
GitLab 7.9.1 is where I'm seeing this.

[2015-04-23 21:27] #126 closed, assigned to nobody

[2015-04-23 22:08] Itxaka commented on #125
@JonathonReinhart Please check with the new version as this should be fixed now. Thanks for the report!

[2015-04-23 22:19] JonathonReinhart commented on #125
Nice work! This appears to be fixed for only that one method, though.  This actually needs to happen for every method that uses `self.projects_url` and a `project_id`. This includes:
- `getproject`
- `getprojectevents`
- `deleteproject`
- `getprojectmembers`
- `addprojectmember`
- `editprojectmember`
- `deleteprojectmember`
- `getprojecthooks`
- `getprojecthook`
- `addprojecthook`
- `editprojectho

[2015-04-23 22:20] JonathonReinhart commented on #125
The way it is right now, `getproject` behaves differently than all of the others.

[2015-04-23 22:31] Itxaka opened #130 "createsnippet now needs a visibility_level parameter"
There is no documentation for this new field anywhere on the API docs for gitlab.

Now createsnippet needs a visibility_level parameter to be passed (int)

[2015-04-23 22:36] Itxaka commented on #125
Indeed you are rigth! Reopening

[2015-04-23 22:41] Itxaka opened #131 "moving projects between groups do not work"
[code]

Seems more like a gitlab issue.

[2015-04-30 19:17] jzelinskie opened #136 "addprojecthook doesn't return hook id"
If success `addprojecthook` should return the hook id. Right now it just returns "True".

I'd like to delete a hook after I add it, but I have no idea how to get the id of the hook that I just created.

[2015-05-02 18:06] #136 closed, assigned to nobody

[2015-05-03 04:42] avyou opened #138 "how to disable ssl warning ?"
how to Don't show the following warning:
 "/usr/lib/python2.6/site-packages/requests/packages/urllib3/connectionpool.py:768: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/security.html
  InsecureRequestWarning)"

thanks!

[2015-05-03 06:37] avyou opened #139 "AttributeError: 'Gitlab' object has no attribute 'getmergerequestchanges'"
hi,

my gitlab version is 7.4,  I use pyapi-gitlab API :
1 . >>> import gitlab
2.  >>> git = gitlab.Gitlab("https://gitlab.host.com",verify_ssl=False)
3.  >>> git.login(user='gitlab',password='123456')
/usr/lib/python2.6/site-packages/requests/packages/urllib3/connectionpool.py:768: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised.

[2015-05-03 10:46] avyou commented on #139
I update gitlab to 7-8, it is ok! thanks

[2015-05-03 12:21] avyou commented on #139
sorry, It still did not work.

I use linux curl  command is ok:

curl --header "PRIVATE-TOKEN: t3cZ5R7zzz8Rt-zzBYsb" "http://gitlab.host.com/api/v3/projects/44/merge_request/574/changes"

{"id":574,"iid":17,"project_id":44,"title":"this is a test","description":null,"state":"opened","created_at":"2015-05-03T05:51:13.000Z","updated_at":"2015-05-03T05:51:24.000Z","target_branch":"master","source_bra

[2015-05-03 12:21] avyou commented on #139
sorry, It still did not work.

I use linux curl  command is ok:

curl --header "PRIVATE-TOKEN: t3cZ5R7zzz8Rt-zzBYsb" "http://gitlab.host.com/api/v3/projects/44/merge_request/574/changes"

{"id":574,"iid":17,"project_id":44,"title":"this is a test","description":null,"state":"opened","created_at":"2015-05-03T05:51:13.000Z","updated_at":"2015-05-03T05:51:24.000Z","target_branch":"master","source_bra

[2015-05-03 12:21] avyou commented on #139
sorry, It still did not work.

I use linux curl  command is ok:

curl --header "PRIVATE-TOKEN: t3cZ5R7zzz8Rt-zzBYsb" "http://gitlab.host.com/api/v3/projects/44/merge_request/574/changes"

{"id":574,"iid":17,"project_id":44,"title":"this is a test","description":null,"state":"opened","created_at":"2015-05-03T05:51:13.000Z","updated_at":"2015-05-03T05:51:24.000Z","target_branch":"master","source_bra

[2015-05-03 12:21] avyou commented on #139
sorry, It still did not work.

I use linux curl  command is ok:

curl --header "PRIVATE-TOKEN: t3cZ5R7zzz8Rt-zzBYsb" "http://gitlab.host.com/api/v3/projects/44/merge_request/574/changes"

{"id":574,"iid":17,"project_id":44,"title":"this is a test","description":null,"state":"opened","created_at":"2015-05-03T05:51:13.000Z","updated_at":"2015-05-03T05:51:24.000Z","target_branch":"master","source_bra

[2015-05-03 12:21] avyou commented on #139
sorry, It still did not work.

I use linux curl  command is ok:

curl --header "PRIVATE-TOKEN: t3cZ5R7zzz8Rt-zzBYsb" "http://gitlab.host.com/api/v3/projects/44/merge_request/574/changes"

{"id":574,"iid":17,"project_id":44,"title":"this is a test","description":null,"state":"opened","created_at":"2015-05-03T05:51:13.000Z","updated_at":"2015-05-03T05:51:24.000Z","target_branch":"master","source_bra

[2015-05-03 12:22] avyou commented on #139
sorry, It still did not work.

I use linux curl  command is ok:

curl --header "PRIVATE-TOKEN: t3cZ5R7zzz8Rt-zzBYsb" "http://gitlab.host.com/api/v3/projects/44/merge_request/574/changes"

{"id":574,"iid":17,"project_id":44,"title":"this is a test","description":null,"state":"opened","created_at":"2015-05-03T05:51:13.000Z","updated_at":"2015-05-03T05:51:24.000Z","target_branch":"master","source_bra

[2015-05-03 12:55] avyou commented on #139
sorry , my version issue. it is ok

[2015-05-04 15:03] Itxaka commented on #138
Hey,

to disable the warning you have to set in your code at the top:

[code]

[2015-05-04 15:03] Itxaka commented on #139
Glad to know :)

[2015-05-04 15:03] #139 closed, assigned to nobody

[2015-05-04 15:04] #138 closed, assigned to nobody

[2015-06-01 16:23] Kurocon opened #142 "Pagination removed in API"
The getall function creates an infinite loop from GitLab 7.10 onwards because the pagination functionality was removed. This is because the API always returns some values, so that the 'results' variable will never be empty.

A fix for users of the getall function is to just call the requested function directly, so instead of calling getall(getgroupmembers, group_id=1) you call getgroupmembers(grou

[2015-06-08 21:11] Kurocon opened #143 "Create group function returns an exception, it does not throw it"
On line 1012 of the file gitlab/__init__.py, an exception is returned, not thrown. This could lead to unexpected behaviour when trying to create a group when the user has no access to do so.

[2015-07-08 12:04] yukselao opened #147 "How can I delete specific tag?"
How can I delete specific tag?

I checked out http://pyapi-gitlab.readthedocs.org/en/latest/ but can't see deletetag action on your documentation.

Kind regards

[2015-07-08 13:24] Itxaka commented on #147
Hello @aliokanyuksel , I dont think the gitlab api supports deleting tags: http://doc.gitlab.com/ce/api/README.html

You can do it directly from the shell with git: https://nathanhoad.net/how-to-delete-a-remote-git-tag

[2015-07-18 16:18] ladrua opened #149 "AttributeError: 'module' object has no attribute 'GitLab'"
Trying to test this library with;

<pre>import gitlab

git = gitlab.GitLab('http://10.0.0.200')
git.login("test@username.qho", "password")</pre>

But only get an error like so:

<pre>
Traceback (most recent call last):
  File "gitlab.py", line 1, in <module>
    import gitlab
  File "/mnt/hgfs/KODE/webserver-scripts/gitlab.py", line 3, in <module>
    git = gitlab.GitLab('http://10.0.0.200')
Attri

[2015-07-18 16:35] ladrua commented on #149
My bad, I named my file the same as the library, that caused the error.

[2015-07-18 16:35] #149 closed, assigned to nobody

[2015-07-18 20:54] ladrua opened #150 "Request: API for activating Services on projects"
Is it possible to add functionality to enable services on projects? Like activating the "Slack Service" ?

[2015-07-24 12:21] Itxaka commented on #150
Hey @ladrua Ill have a look at it.

[2015-07-24 12:26] Itxaka commented on #142
Hello @Kurocon !

Thanks for the heads up! Unfortunately, as you can see on the readme, I only tested up to 7.9, becuase all the changes to the api makes it difficult to maintain this lib. Ill have a look at this shortly.

[2015-07-24 12:43] #143 closed, assigned to nobody

[2015-07-27 14:25] bsmr commented on #125
Just one more thing as I just have some troubles because of this: `.` (dots) in project names should be escaped with `%2E`. A project name (example _without_ the _namespace_) like `foo.bar.example` can not be found without the above replacement (e.g. `foo%2Ebar%2Eexample` will be found).

Have a look at [Dot in username or project name makes Project not found via API](https://github.com/gitlabhq/g

[2015-08-11 14:16] solomongifford commented on #130
The documentation here has info:

http://doc.gitlab.com/ce/api/project_snippets.html#create-new-snippet

The visibility level needs to be a value of 0 / 10 / 20 which represents private / internal / public.

[2015-08-13 13:40] #147 closed, assigned to nobody

[2015-08-13 13:44] solomongifford commented on #130
I created a PR for this.

[2015-08-13 13:50] solomongifford opened #152 "addprojecthook should be push=True by default"
I'm not sure when this commit got merged in, but it appears that it was pushed to the repo around March 17th despite the commit date on it.

https://github.com/Itxaka/pyapi-gitlab/commit/16c5b2d3f050aa3d2a5b1d53447254d22c07868e

Regardless, this commit makes addprojecthook's push=False by default, however the api has push=True by default.

This change is breaking backwards compatibility with imple

[2015-09-06 07:00] dj-wasabi opened #154 "Problem creating keys for user"
Hi,

I'am currently working on an Ansible module to create users, groups and projects with this python module. At the moment I have an issue with creating keys for the users I create.

I have this piece:

[code]

I can create an user and add it to an group, but I have issues creating the keys for this newly created user.

Am I doing something wrong?
Kind regards,
Werner

[2015-09-06 09:37] Itxaka commented on #154
Hello there!

Do you get any errors? Or the addsshkeyuser method just returns true?
What version of the lib and og gitlab are you using?

[2015-09-06 09:43] dj-wasabi commented on #154
Hi,

The addsshkeyuser returns false everytime. I'm using the following version:
pyapi-gitlab (7.8.4)

Gitlab is on: GitLab 7.14.1 481c966

This is the only information I see in the logfiles are these (/var/log/gitlab/gitlab-rails):

[code]

Kind regards,
Werner

[2015-09-06 12:21] Itxaka commented on #154
Thanks, I will try to reproduce it to see hwre the issue can be and will post back asap. Thanks for the report!

[2015-09-06 16:41] dj-wasabi commented on #154
Thanks! Please let me know if you need any info.

[2015-09-08 19:01] dj-wasabi opened #155 "AttributeError: 'Gitlab' object has no attribute 'editproject'"
Hi,

I have the following function in my Ansible Module for creating an project with your python module:

[code]

When I execute it, I get the following message:

[code]

According to the document, it should exists:
`editproject(project_id, **kwargs)`

Creating the project works.
Or am I doing something wrong?

Kind regards,
Werner

[2015-09-08 19:11] Itxaka commented on #155
Hey,

Looks like the latest version upload to pypi (7.8.4) doesn have that method, its only available on master.

Let me bump the version and cut a new minor release with the new improvements.

[2015-09-08 19:50] Itxaka commented on #155
Hi again!

I cut a new release, updated the release notes and pushed it to pypi. A simple pip install -U pyapi-gitlab should net you the latests version with that method included.

Thanks and sorry for the confusion!

[2015-09-09 19:11] dj-wasabi commented on #155
Hi,

Many thanks! It is working.

[2015-09-09 19:11] #155 closed, assigned to nobody

[2015-10-08 14:55] cbandera opened #158 "getprojectmembers returns empty list"
Hi,
I am trying to get a list of members of a project.
When calling getprojectmembers(id) I keep getting an empty list. Do I need some kind of special permissions to do that? I can see the members in the webinterface.
Also adding and deleting members works just fine.

Can anyone reproduce this behaviour?

FYI: GitLab 7.14.3 d321305

[2015-10-16 16:01] No1zzz opened #160 "Setup script Macos"
sudo easy_install pyapi-gitlab
Searching for pyapi-gitlab
Reading https://pypi.python.org/simple/pyapi-gitlab/
Best match: pyapi-gitlab 7.8.5.macosx-10.10-x86-64
Downloading https://pypi.python.org/packages/any/p/pyapi-gitlab/pyapi-gitlab-7.8.5.macosx-10.10-x86_64.tar.gz#md5=f307d48a4df44b73f0efa06fd20f91fb
Processing pyapi-gitlab-7.8.5.macosx-10.10-x86_64.tar.gz
error: Couldn't find a setup scrip

[2015-10-21 08:30] scm20008 opened #161 "why getproject function's parameter can't be "namespace/project_name"?"
getproject(project_id)
Get info for a project identified by id or namespace/project_name

Parameters: project_id – id or namespace/project_name of the project
Returns:    False if not found, a dictionary if found

Question or Issue:
why getproject function's parameter can't be "namespace/project_name"?

[2015-10-21 08:41] scm20008 commented on #161
how to get project_id？

[2015-10-27 15:55] ak0ska commented on #161
I'm just getting familiar with this library, but did you try [searchproject](http://pyapi-gitlab.readthedocs.org/en/latest/#gitlab.Gitlab.searchproject)?

[2015-10-28 01:10] scm20008 commented on #161
yes, I did. but the searchproject function doesn't work for me.

I wanna get project_id, I know the project_name, but every function needs the project_id as a parameter to run.

So how can I get project_id from project_name?

Thank you for your replying.

[2015-10-28 01:19] scm20008 commented on #161
and could you give me an example of searchproject function? thanks.

[2015-10-28 01:45] scm20008 commented on #161
Thanks, getprojects function has resolved my problem.

I can get project_id from project_name quickly by getprojects funcktion.

[2015-10-28 01:45] #161 closed, assigned to nobody

[2015-11-19 11:53] sotte opened #165 "Status of gitlab 8.1 support"
I was wondering about the support of gitlab 8.1. Are there any plans supporting it? Maybe it simply works already?

[2015-11-19 12:01] Itxaka commented on #165
Hey @sotte !

Unfortunately with a change of job and the stupid decisions from https://github.com/gitlabhq on breaking the API on every minor release, I had no time to update or take care of testing the lib against every release nor add new features and try to maintain backwards compatibility.

I may work but it will probably behave wrongly. They probably changed the api AGAIN for some strange rea

[2015-11-19 12:07] sotte commented on #165
@Itxaka, thanks for the quick response! That's bad news :( I'll give it a try. Maybe the basic stuff (creating users and project) works. Thanks!

[2015-11-19 12:07] #165 closed, assigned to nobody

[2015-11-20 03:55] RyanBluth opened #166 "Specify File Encoding on createfile and updatefile"
Unless I've missed something you cannot specify the encoding of a file when using createfile and update file. This makes it difficult/impossible to properly commit files such as images.

The Gitlab API supports "text" and "base64" for the optional encoding parameter on these calls.
https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/repository_files.md

I would suggest adding a kwarg to these

[2015-11-29 03:34] celiao commented on #142
Thanks for the catch @Kurocon.   It would be great to get this incorporated.

[2015-12-02 08:59] Itxaka opened #169 "Looking for collaborators"
Unfortunately I dont have enough time to keep up with the API random changes from Gitlab, nor with their ability to break the API every minor release. I transfered the library into its own organization, if you are interested in maintaining the lib, just drop me a line and Ill add you to the org. Thanks!

[2015-12-07 17:12] ssbarnea opened #170 "getsshkeys() return bool instead of iterable: TypeError: 'bool' object is not iterable"
[code]

I mention that the code works when the users do have ssh keys, the problem is when they do not have keys the function returns `False` instead of an empty list, which explains why we have this bug.

[2015-12-11 12:59] ssbarnea opened #171 "getgroupmembers() does not return iterable, returns bool instead"
getgroupmembers() does not return iterable, returns bool instead.

This is an anti-pattern in python and it seems not to happen only with this method call, but also with others and that's a critical issue: in python the rule is to return iterables for all things that can get multiple values.

An empty list would still evaluate as False but it will be iterable!

[2015-12-11 13:03] ssbarnea commented on #169
I am interested about performing some maintenance on it as I just raised few serious bugs and I would prefer to fix them instead of having to go around them, see #170 and #171

I am maintaining several python libraries myself and all of them are owned by an organization named PyContribs -- the reson is clear: just to avoid reaching a point when a module becomes abandonware because it had a single

[2015-12-11 13:17] Itxaka commented on #169
@ssbarnea I didnt knew about pycontribs, sounds like a great idea! Ill add you to the org right away and thnks for stepping up.

[2015-12-11 18:15] ssbarnea commented on #169
Thanks! Problem fixed but this does not mean that other contributors are not welcomed!

[2015-12-11 18:15] #169 closed, assigned to nobody

[2016-01-26 02:01] scm20008 opened #175 "how to get the mergerequest_id?"
when I finished creating merge request, how can I get the mergerequest_id?

thanks!

[2016-01-26 02:03] scm20008 commented on #175
@Itxaka , Could you help me?

[2016-01-26 02:06] solomongifford commented on #175
@scm20008,

When you call createmergerequest, it returns a json object that includes the id of the merge request.

[code]

[2016-01-26 02:21] scm20008 commented on #175
@solomongifford

why I get a bool value as follows:

Traceback (most recent call last):
  File "gitlab/test_gitlab.py", line 17, in <module>
    print merge_request['mergerequest']['iid']
TypeError: 'bool' object has no attribute '**getitem**'

It doesn't return a dict value!

[2016-01-26 02:22] solomongifford commented on #175
If the merge request was not created it returns False.

[2016-01-26 02:28] scm20008 commented on #175
It returns True, and I can get the result from the website of gitlab.

[2016-01-26 02:32] scm20008 commented on #175
@solomongifford
the snapshot as follows:

![merge_request1](https://cloud.githubusercontent.com/assets/639305/12571033/072c10e4-c418-11e5-9f21-b522e918262b.png)
![merge_request2](https://cloud.githubusercontent.com/assets/639305/12571034/072f4502-c418-11e5-94ad-d08d473c8665.png)

[2016-01-26 02:35] solomongifford commented on #175
The following is the latest code for createmergerequest - note that it does not return true.  I'm wondering if you have an old version of the library.

[code]

[2016-01-26 02:36] scm20008 commented on #175
@solomongifford
Could you tell me how I can update the api version? thanks!

I use pyapi-gitlab 6.2.3.

[2016-01-26 02:45] solomongifford commented on #175
I'll leave the updating of the package to the internet, but if you do:

[code]

This will show the location where the package is installed.  Assuming its "/usr/lib/python2.6/site-packages/" open the file:

[code]

Look for the function createmergerequest and see if it matches the above.  If it does, you can do further debugging by adding print statements in the above mentioned function.

[2016-01-26 02:45] #175 closed, assigned to nobody

[2016-01-26 03:01] scm20008 commented on #175
thank @solomongifford ,
My problem had been resolved! I had updated the version to pyapi-gitlab 7.8.5, and now I can get the dict value.

thanks again!

[2016-01-26 06:05] scm20008 opened #176 "How to acceptmergerequest after running createmergerequest?"
@solomongifford @Itxaka
When I finished running createmergerequest function, I can't acceptmergerequest, Why?

but if I click the "accept merge request" button on the website of gitlab is OK.

thanks!

[2016-01-26 09:07] scm20008 commented on #176
@solomongifford @Itxaka

and I search the source code of api:
print request.status_code, the result is 404. why?

[2016-01-29 01:37] solomongifford commented on #176
You need the id for the acceptmergerequest, and the iid for the url.  Compare the two different id's and how gitlab uses them.

[2016-01-29 01:37] #176 closed, assigned to nobody

[2016-01-29 05:52] scm20008 commented on #176
@solomongifford
my codes as follows:
`merge_request = git.createmergerequest(project_id, sourcebranch, targetbranch, title, None, None)`
`mergerequest_id = merge_request['iid']`
`accept_merge = git.acceptmergerequest(project_id, mergerequest_id, merge_commit_message)`

aren't my codes false?

[2016-01-29 15:58] solomongifford commented on #176
See my previous comment @scm20008

[2016-04-07 06:28] ZYecho opened #178 "createproject() return false"
when I use createproject function to create project, but it returns false. I don't know how to debug it. can anyone help me ?

just `git.createproject("test1")`

[2016-04-07 08:19] ZYecho commented on #178
I dig it in log file. And I find it reports "cannot allocate memory". So I think it was related to my 1 GB memory. thx~

[2016-04-07 08:19] #178 closed, assigned to nobody

[2016-04-07 14:12] ZYecho opened #179 "pip install old version"
should update the package in pip repository. I use pip to install the gitlab, but it don't work when I use getnamespaces function.

[2016-04-07 15:08] cbandera commented on #158
Just stumbled over this again. In case someone might have this problem, this was the solution:

I was querying a project that was located inside a Groups' namespace, therefor all group members had access to it, but didn't show up explicitly as **project** members. This is not pyapi-gitlabs fault, but the default behaviour of the Gitlab API.

[2016-04-07 15:08] #158 closed, assigned to nobody

[2016-04-21 23:14] ghost opened #183 "Get the SSH keys of a user"
Hi,

Is there any way to get the public SSH keys of a user?

Thank you.

Asher256

[2016-04-22 09:42] Itxaka commented on #183
You could use http://pyapi-gitlab.readthedocs.org/en/latest/#gitlab.Gitlab.setsudo to change to the user (only if you are an admin) and then use http://pyapi-gitlab.readthedocs.org/en/latest/#gitlab.Gitlab.getsshkeys to get all the ssh keys for that user.

There is a api call to get ssh keys for an user but its not implemented in pyapi-gitlab https://github.com/gitlabhq/gitlabhq/blob/master/doc/ap

[2016-05-31 20:49] ghost opened #184 "pyapi_gitlab.exceptions.HttpError: 403 Forbidden"
Hello,

I got this error when I tried to create a group with pyapi-gitlab:

[code]

My Gitlab version is 8.8.2-ce.0

Any idea what caused this error?

Thank you.

Asher256

[2016-08-30 06:17] gbraad opened #186 "Requirements badge not active"
The badge provided by http://requires.io does currently not work:

[![Requirements Status](https://requires.io/github/Itxaka/pyapi-gitlab/requirements.svg?branch=develop)](https://requires.io/github/Itxaka/pyapi-gitlab/requirements/?branch=develop)

The namespace in the url still points to the project located at Ixtaka, but the new location is not activated for use with requires.

[![Requirements

[2016-08-31 04:05] gbraad opened #187 "Update supported versions; 8.11.3"
At the moment I am using pyapi-gitlab against a personal instance and the public one at gitlab.com; both run version 8.11.3, and will track compatibility here.

Please, add any issues you have here...

[2016-09-14 19:37] sbrinkmeyer commented on #87
looking at your source i see you are using the requests module.  instead of verify_ssl=False, it is also possible to set an environment variable that points to your ca bundle

export REQUESTS_CA_BUNDLE='/some/path/to/cert/self.root.ca.pem'

this resolved it for me so that i could still have ssl verification

[2016-09-20 02:55] twhiting opened #188 "Can't seem to close an issue"
[code]

The API wrapper is working great for me except I can't seem to close an issue.   Each line of the code above returns false & from what I understand lines 1 & 3 should be working.

[2016-10-26 15:07] bzhtux opened #189 "Can't block user"
When I want to block a user I receive the following error :
'Gitlab' object has no attribute 'blockuser'

I can get the user ID with getusers(search=email), but I can't block any user.

http://pyapi-gitlab.readthedocs.io/en/latest/#gitlab.Gitlab.blockuser

I can also delete users using deleteuser(user_id) .

Do you have any idea about this error ?

[2017-01-11 10:44] AlexsJones opened #190 "virtualenv permission denied"
Problem:

`error: could not create '/Library/Python/2.7/site-packages/gitlab': Permission denied`

This should not be installing here, it should be in the virtual env/lib directory

Reproduce:

`virtualenv env`

`source env/bin/activate`

`pip2.7 install pyapi-gitlab`

Platform:

OSX

[2017-01-18 03:17] wingyiu opened #191 "gitlab 7.4.x no ways to get namespace_id of specific namespace"
I'm trying to create project under specific namespace 'axiba', but there is no ways to get the namespace_id of 'axiba', any way to solve this problem?

[2017-01-19 15:48] bunk0man opened #192 "Tag delete method"
I see that there is no tag delete method, but GitLab API knows how to delete a tag.
Is there any reason for it? Or it just hasn't added yet.

[2017-01-20 08:14] #192 closed, assigned to nobody

[2017-03-15 07:11] leslie89xlxiao opened #193 "function return result"
Methods in gitlab client return barely `False` without any err_msg info. I think the error message is very useful in many cases, hoping error message would be supported soon.

thx

[2017-03-15 13:22] dalang commented on #193
👍

[2017-03-24 02:15] Sudo-Kid opened #194 "Taking over the Project."
I would like to take the owner of this project up on there offer to transfer the project to someone who has time to maintain it. My new job requires me to use this library and I would love to maintain it given the opportunity.

[2017-03-25 19:19] #194 closed, assigned to nobody

[2017-03-25 19:23] Sudo-Kid opened #195 "Build a base test class for integration testing of different versions of gitlab"
This test class will be used to populate a Gitlab server with data.

The data will be removed after the test have been run.

[2017-03-26 16:16] Sudo-Kid opened #196 "Add coverage"
This will allow for a better view of the total coverage of the test base.

[2017-03-26 17:40] Sudo-Kid commented on #196
This has been setup as of https://github.com/pyapi-gitlab/pyapi-gitlab/issues/195

[2017-03-26 17:40] #196 closed, assigned to nobody

[2017-03-26 17:53] Sudo-Kid opened #198 "Split up unittests and integration tests."
This will require mocking of all the Gitlab API endpoints for all supported versions. Well this will take time to complete it will allow for easier testing from committers.

The plan will be to support versions that can be installed through the docker hub `https://hub.docker.com/r/gitlab/gitlab-ce/tags/`.

[2017-03-26 17:56] Sudo-Kid opened #199 "Update current code to support new arguments being passed in."
This update will future proof attributes being passed to the Gitlab server.

I suggest the addition of `*args` and or `**kwargs` to the method calls.

[2017-03-26 18:00] Sudo-Kid opened #200 "Update to login method"
The `login` method should be using `is not` rather then `!=`.

[2017-03-30 02:29] #200 closed, assigned to nobody

[2017-03-30 02:32] Sudo-Kid opened #202 "Code formating cleanup"
This up date will remove/add spacing to make the code flow more consistently.

[2017-03-30 04:17] #202 closed, assigned to nobody

[2017-03-30 04:31] Sudo-Kid commented on #190
I just wanted to check in with you and see if this is still happening to you.

[2017-03-30 04:36] Sudo-Kid opened #204 "Update docstrings and remove unused import"
Updates to the docstrings and remove of json import as its not being used.

[2017-03-30 05:25] Sudo-Kid opened #205 "Break out requests into separate functions"
This will require a function for get/post/delete and will remove a large amount of boiler plat code.

[2017-03-30 05:28] Sudo-Kid opened #206 "Standardize return statments"
This will make it easier to predict what will be returned from a function.

[2017-03-30 18:40] #195 closed, assigned to nobody

[2017-04-27 20:34] Sudo-Kid opened #207 "Update deleteproject to return meaningful data if possible"
Currently none is returned if the status code is not 200 OK. This should be updated to return the text/json so the end user knows why it was unsuccessful.

[2017-05-04 09:37] ozbarshalom opened #208 "Unhandled status codes with relevant excepions"
All of the functions returns `False `if the http status code is not 200.
Functions should raise custom exceptions instead return `False`.

[2017-05-10 17:06] Sudo-Kid commented on #208
I agree.

This though has a bigger question. How do you make a change like that without breaking everyone's current applications.

[2017-05-10 18:21] ozbarshalom commented on #208
You will break everyone\`s code... That`s should be a major version
But. Without the exceptions, this whole library is pretty hard to use.
I found it the hard way, and I decided to move to [python-gitlab](https://github.com/gpocentek/python-gitlab) that have many exceptions

[2017-05-10 18:24] Sudo-Kid commented on #208
I'm sorry to have lost you but I do understand why. I myself have run into that same problem with this library. I would though like to assure you that in the future we will have better error reporting. I only recently took over this project and there is some work to do before I start drastically changing the API.

[2017-05-16 03:41] #205 closed, assigned to nobody

[2017-05-16 03:52] hanbaga opened #211 "calling createRepositoryTag doesn't trigger push tag event hook"
in my local,  "git push origin tag-name" call trigger the push tag hook. what's the difference.

[2017-05-16 05:12] Sudo-Kid commented on #193
They are being worked on at the moment.

[2017-05-16 05:13] Sudo-Kid commented on #208
This issue is under active development at the moment and a repeat of issue https://github.com/pyapi-gitlab/pyapi-gitlab/issues/193.

[2017-05-16 05:13] #208 closed, assigned to nobody

[2017-05-16 05:14] #207 closed, assigned to nobody

[2017-05-16 05:19] Sudo-Kid commented on #189
If you are still experiencing this issue would you be able to provide a code sample so I can better assist in helping resolve this issue.

[2017-05-16 05:22] Sudo-Kid commented on #187
Will work on this after we have v9.1.4 working and the code base updated.

[2017-05-16 05:23] Sudo-Kid commented on #183
There has been no response to this answer for over a year and as such I will be closing it.

[2017-05-16 05:23] #183 closed, assigned to nobody

[2017-05-16 05:24] Sudo-Kid commented on #184
If you are still experiencing this issue please provide a code sample so I can better assist you.

[2017-05-16 05:26] Sudo-Kid commented on #171
The PR for this was closed and this will be updated to follow a new pattern that is being implemented.

[2017-05-16 05:26] #171 closed, assigned to nobody

[2017-05-16 05:27] Sudo-Kid commented on #170
The PR for this is closed and we will be updating this to use the new pattern in the future.

[2017-05-16 05:27] #170 closed, assigned to nobody

[2017-05-16 05:29] Sudo-Kid commented on #154
Is this still an issue or is it okay to close this?

[2017-05-16 05:31] Sudo-Kid commented on #191
Is this still a problem or is it safe to close this issue?

[2017-05-16 05:32] Sudo-Kid commented on #123
There has been no response in well over a year. I will be closing this issue.

[2017-05-16 05:32] #123 closed, assigned to nobody

[2017-05-16 10:53] hanbaga commented on #211
createRepositoryTag doesn't trigger push tag hook, is it normal.  @the-kid89

[2017-05-16 12:04] bzhtux commented on #189
@the-kid89 let me be back to you next week with a code sample. Thanks

[2017-05-16 17:00] Sudo-Kid commented on #211
I'm looking into it but from what I have found from Gitlab it doesn't appear to trigger any hooks.

Edit: If you create it from the API it doesn't appear to trigger.

[2017-05-16 17:04] Sudo-Kid commented on #211
Can you expand a little on your setup currently so I can better look into this. Is there a post/pre-receive setup on the server?

[2017-05-16 17:07] Sudo-Kid commented on #189
I'm very sorry about the long wait on your question but I only recently took over this project and just now have time to start getting into things.

[2017-05-16 17:11] Sudo-Kid commented on #152
I'll submit an update for that today. Well I'm there I will be updating the `addprojecthook` method as well.

[2017-05-16 17:13] sijis opened #213 "Support getting all deploy keys"
The library is currently able to get deploy keys that are enabled by a project.
There is currently no way to get a list of all available deploy keys.

This matters when someone wants to add a deploy key to a project.

I'm looking for this endpoint to be implemented (also supported by CE):
https://docs.gitlab.com/ee/api/deploy_keys.html#list-all-deploy-keys

[2017-05-16 17:13] Sudo-Kid commented on #211
If you used the `addprojecthook` to create the hook and didn't pass in `push=True` it could be what is causing your issue. There is a reported issue I just found related to a similar problem https://github.com/pyapi-gitlab/pyapi-gitlab/issues/152.

[2017-05-16 17:13] Sudo-Kid commented on #152
Could be affecting https://github.com/pyapi-gitlab/pyapi-gitlab/issues/211 as well.

[2017-05-16 17:15] Sudo-Kid commented on #213
Thank you for bringing it up. I will add it to my list of things to work on.

[2017-05-16 17:15] sijis commented on #213
@the-kid89 i'm actually putting together and PR for this, as we speak.

[2017-05-16 18:16] Sudo-Kid commented on #213
Looking forward to it.

[2017-05-16 19:42] Sudo-Kid commented on #213
https://github.com/pyapi-gitlab/pyapi-gitlab/pull/214

[2017-05-16 20:14] #213 closed, assigned to nobody

[2017-05-16 20:15] #206 closed, assigned to nobody

[2017-05-16 20:15] Sudo-Kid commented on #204
Will be done as the project is refactored

[2017-05-16 20:15] #204 closed, assigned to nobody

[2017-05-16 20:35] Sudo-Kid opened #215 "Update getusers to use new pattern and add tests."
This update will add a new method named `get_users` and will use the new `get` method. The current `getusers` method will be updated to use `get_users` and catch any exceptions.

[2017-05-16 20:36] sijis opened #216 "Support enabling deploy keys to projects"
I'm unable to find a way to enable a deploy key for a specific project.

I'm essentially looking for this:
https://docs.gitlab.com/ee/api/deploy_keys.html#enable-a-deploy-key

[2017-05-16 20:37] sijis commented on #216
I'm likely going to put a PR on it shortly.

[2017-05-16 20:53] Sudo-Kid commented on #216
Looking forward to reviewing it.

[2017-05-16 21:37] #215 closed, assigned to nobody

[2017-05-16 21:52] sijis commented on #216
I have a PR going #218, however I want to make sure that I add the test cases properly. I was trying out the `coverage run ...` that's in `.travis.yaml` but I doesn't seem to work.
How are you running the tests locally?

[2017-05-16 22:12] Sudo-Kid commented on #216
You will want to make sure you do a `pip install -r test-requirements.txt`. If you are on a Unix like system that has bash installed you can just run `./cov` from the project root. I just added it in my most recent push.

The `.travis.yaml` file is outdated and shouldn't be used anymore. I'm still in the process of adding full integration tests to replace the old set. In the mean time I'm adding u

[2017-05-16 22:18] sijis commented on #216
Gotcha. I'll try it out when I get home.

I figured there was some refactoring going on as there were two sets of tests for the same stuff.

Are you hoping to reintegrate into Travis again?

[2017-05-16 22:30] Sudo-Kid commented on #216
I do. Once we have 100% unittest coverage I plan to start adding integration tests. In the mean time I have been running all the tests with coverage locally.

[2017-05-17 02:10] hanbaga commented on #211
git.addprojecthook(
            project_id=CONF.GITHUB.project_id,                      #valid project_id
            url=CONF.GITHUB.tag_hook,                                   #valid url
            push=True,
            tag_push=True
        ):

it is the code to add a hook. I want to trigger the hook not when calling updateFile  but when calling createRepositoryTag.  event using API,  it does

[2017-05-17 15:03] Sudo-Kid commented on #211
What version of Gitlab are you currently running?

[2017-05-17 15:16] Sudo-Kid opened #219 "Update get/post/delete default_response to be None rather then {}"
Will persist until the next call, so the "empty" dict will start to contain values on calls other than the first one.

[2017-05-17 15:33] #219 closed, assigned to nobody

[2017-05-17 16:59] #216 closed, assigned to nobody

[2017-05-17 17:07] Sudo-Kid opened #222 "Update `getproject` to use new pattern and add tests."
This update will add a new method named `get_project` and will use the new `GET` method. The current `getproject` method will be updated to use `get_project` and catch any exceptions.

[2017-05-17 22:59] sijis opened #223 "Simpler docker-compose setup for tests"
To run tests locally, a contributor needs to setup a gitlab instance (which is totally fine).
The suggested docker-compose is in [gitlab_tests/test_v91/docker-compose.yml](https://github.com/pyapi-gitlab/pyapi-gitlab/blob/develop/gitlab_tests/test_v91/docker-compose.yml.)
I think we could leverage the documentation that Gitlab has and use one of their examples and docker containers:
https://docs.g

[2017-05-17 23:03] sijis opened #224 "Library should return more data than True/False"
Occasionally we run into issues (gitlab issue, code issue, ci issue, etc) and when troubleshooting calls, its difficult to troubleshoot a response to gitlab when the library returns only True or False.

I think it would be great to return json with a message on what it received from gitlab.
The information could be more useful and help in troubleshooting permission/code issues.

[2017-05-17 23:35] #222 closed, assigned to nobody

[2017-05-17 23:37] Sudo-Kid commented on #224
The new pattern that we have been implementing throws an error if the return result is not valid for that method. The exception contains the responses status code and body.

Edit: I'm still working on getting all the old methods switched over to the new pattern witch will fix this issue. Though to keep backwards compatibility I'm adding new methods and calling them from the old ones. This will all

[2017-05-17 23:43] Sudo-Kid commented on #223
My only issue with the Gitlab docker containers is that they don't go back as far as this library states we support. The Gitlab one only goes back to 8.13.6-ce.0 well the docker-compose file that I have in test goes back a bit further. It's this one https://github.com/sameersbn/docker-gitlab

Edit: I'm not apposed to the switch though if you want to get it up and running.

[2017-05-17 23:45] Sudo-Kid commented on #193
Another issue for a switch away from True/False to add error messages. https://github.com/pyapi-gitlab/pyapi-gitlab/issues/224

[2017-05-17 23:45] Sudo-Kid commented on #193
I'm still working on getting all the old methods switched over to the new pattern witch will fix this issue. Though to keep backwards compatibility I'm adding new methods and calling them from the old ones. This will allow users to keep there old code and replace it with new code when/where they want to.

[2017-05-17 23:45] #224 closed, assigned to nobody

[2017-05-18 00:08] Sudo-Kid commented on #125
First of many PR's to come https://github.com/pyapi-gitlab/pyapi-gitlab/pull/226.

[2017-05-18 00:10] Sudo-Kid commented on #188
Is this still an issue?

[2017-05-18 00:17] Sudo-Kid opened #227 "Bring __init__ to 100% test coverage."
This will require tests be created for this in the `test_common.py` file.

[2017-05-18 00:31] #227 closed, assigned to nobody

[2017-05-18 01:18] hanbaga commented on #211
GitLab 7.2.1

[2017-05-18 01:27] sijis commented on #223
I can spend some cycles to try and convert.
Is the issue supporting the the different API versions as they are related to gitlab versions?

[2017-05-18 01:47] Sudo-Kid commented on #211
That's an old one. I will need to setup an old version to test with.

Are you pushing the tags through the API or over git and can you check to make sure that the hook has been added to the gitlab project?

[2017-05-18 02:06] Sudo-Kid commented on #223
We have a question that could be a bug open for as far back as 7.1

[2017-05-18 02:13] sijis commented on #223
As to understand, is that gitlab version supported?

What I'm trying to understand, is the library supporting all versions of the gitlab API or only v2 (or some version) and higher?

So if the support matrix is based on gitlab API versions, then the code, I would guess, is positioned in a way to handle different gitlab API versions separately. At a glance, it's hardcored to v3 and I don't see a wa

[2017-05-18 03:23] sijis opened #229 "Spelling mistakes"
I've noticed very minor spelling mistakes while poking through the code.

I hope to be putting a PR to address those typos shortly.

[2017-05-18 03:47] sijis commented on #223
As I thought about this a little, it reminded me of a project I worked on (https://github.com/gogoair/pyasgard) that dynamically built all the api endpoints available based on a file (endpoint.py). The idea could easily be adapted here to support multiple api versions (by adjusting the endpoint logic), I think. Again, this all depends on the support matrix. Is it gitlab versions or gitlab api vers

[2017-05-18 15:56] Sudo-Kid commented on #223
My plan is to not drop support for anything already supported and currently 7.1.X is listed as supported with missing functionality.

We will need to add some way of supporting both V3 and V4 of the API before August roles around. I just need to review the API V4 docs to see how different they are.

Your PR's / suggestions are all very valid and appreciated. Also please do question the design if y

[2017-05-18 16:07] Sudo-Kid commented on #223
My goal at the moment is to mimic the API for a version of Gitlab in the unittests using mock data.

What I have been doing as we add new tests is remove the mock calls and do a quick integration test with the version I have currently and use that data in the mock. This will allow us to quickly run our tests against all the different version when we update things. Though it doesn't provide the muc

[2017-05-18 16:09] #229 closed, assigned to nobody

[2017-05-18 21:51] Sudo-Kid opened #231 "Setup integration tests"
This will require that a bash script be setup to run the docker composer file as well as the integration tests.

[2017-05-18 22:22] Sudo-Kid opened #232 "Update deleteuser to use new pattern and add tests."
This update will add a new method named delete_user and will use the new DELETE method. The current deleteuser method will be updated to use delete_user and catch any

[2017-05-18 23:01] #232 closed, assigned to nobody

[2017-05-18 23:22] #231 closed, assigned to nobody

[2017-05-19 07:30] wingyiu commented on #191
@the-kid89 api of gitlab has poor support of filtering or searching

[2017-05-19 13:42] Sudo-Kid commented on #191
Do you have a code example of what you have tried without success?

[2017-05-22 22:16] Sudo-Kid opened #236 "Update login to use new pattern and add tests."
This update will add a new method named login and will use the new POST method. The current login method will be updated to use login and catch any exceptions.

[2017-05-22 22:38] #236 closed, assigned to nobody

[2017-07-06 23:08] e4r7hbug commented on #193
Instead of keeping a list of good status codes for each call, have you considered using the `raise_for_status()` method?
[code]
The `HTTPError` exception that raises gives us access to the original response that we can use.

[2017-07-06 23:14] Sudo-Kid commented on #193
I wasn't aware of that method. It looks like it should work better then the pattern that I currently have implemented. If you want to submit a PR I would be happy to test and commit it right away.

[2017-07-06 23:29] e4r7hbug commented on #193
Cool. I'll see if I can get something for you going then.

[2017-07-07 19:23] Sudo-Kid commented on #211
I'm rather late on this but after some searching around. I believe this is a GitLab issue. I also don't have access to a 7.2.1 gitlab environment to test further.

[2017-07-10 23:12] Sudo-Kid commented on #186
Updated.

[2017-07-10 23:12] #186 closed, assigned to nobody

[2017-07-25 21:36] Sudo-Kid opened #241 "Add API referance based on the docstrings"
This make it easier to keep the docs up to date well we are changing things.

[2017-07-25 21:50] Sudo-Kid commented on #241
I would also like to switch the README to an rts file rather then a markdown file.

[2017-07-26 15:27] Sudo-Kid commented on #241
Well I'm in here I'm also going to clean up the docstrings a bit.

[2017-07-26 20:08] #241 closed, assigned to nobody

[2017-07-26 20:16] Sudo-Kid opened #243 "Breakup class to better map to Gitlabs documentation"
The Gitlab API is growing every year and as such it is going to make a single file single class library harder and harder to update. One solution to this issue is to break up the single class into a number of classes and inherit from them. This will keep backwards compatibility with the current setup and make it easier to find and keep track of the API.

If we are to do this we would want to break

[2017-07-26 23:14] Sudo-Kid opened #244 "Break users into its own class"
This is part of issue https://github.com/pyapi-gitlab/pyapi-gitlab/issues/243

[2017-07-26 23:17] Sudo-Kid commented on #244
This will hold all methods related to https://docs.gitlab.com/ce/api/users.html

[2017-07-26 23:18] Sudo-Kid opened #245 "Create base class"
This is part of issue https://github.com/pyapi-gitlab/pyapi-gitlab/issues/243

[2017-07-26 23:20] Sudo-Kid opened #246 "Create a helper file"
This will hold all none Gitlab related code.

This is part of issue #243

[2017-07-26 23:21] Sudo-Kid commented on #246
Will move this into https://github.com/pyapi-gitlab/pyapi-gitlab/issues/245 as they will require one another.

[2017-07-26 23:21] #246 closed, assigned to nobody

[2017-07-26 23:21] Sudo-Kid commented on #245
Create a helper file for none class based code.

[2017-07-26 23:25] Sudo-Kid commented on #245
This will also need to pull in Sessions from https://docs.gitlab.com/ce/api/session.html

[2017-07-27 00:16] #245 closed, assigned to nobody

[2017-07-27 00:45] Sudo-Kid opened #248 "Breakout project methods into there own class"
This is part of issue #243

[2017-07-29 16:30] Sudo-Kid opened #250 "Gitlab 9.5 drops support for API V3"
API V3 will be removed in GitLab 9.5, to be released on August 22, 2017. In the
meantime, we advise you to make any necessary changes to applications that use
V3. The V3 API documentation is still available.

[2017-07-29 16:49] Sudo-Kid commented on #244
DONE!

[2017-07-29 16:49] #244 closed

[2017-07-29 17:11] Sudo-Kid opened #251 "Break Keys into its own class"
Create a new class for all keys related methods. Keys documentation http://172.20.0.2/help/api/keys.md .

[2017-07-29 18:17] Sudo-Kid opened #253 "Move over missed users methods"
Some shh key management methods got missed in the move. We need to move them over.

[2017-07-29 18:26] Sudo-Kid opened #255 "Move over missed keys method"
This method was over looked when creating the keys class.

[2017-07-29 18:43] #253 closed, assigned to nobody

[2017-07-30 18:37] #255 closed, assigned to nobody

[2017-07-30 18:38] #251 closed, assigned to nobody

[2017-07-30 18:39] Sudo-Kid commented on #243
Started project

[2017-07-30 18:39] #243 closed, assigned to nobody

[2017-07-30 19:09] Sudo-Kid opened #257 "Move setsudo to the base"
Move the method `setsudo()` to the `base.py` file so all classes can use it.

Well this is happening we should make tests and deprecate in favor of `set_sudo()`.

Reference https://gitlab.com/help/api/README.md#sudo

[2017-07-30 19:25] Sudo-Kid opened #258 "Update users.py to follow new coding standards"
This will require the deprecation of all the old style methods and new methods being created.

Well we are it it we should update docstrings and Unit tests/integration tests should be added.

[2017-07-30 19:37] Sudo-Kid commented on #257
Docstrings should be updated as well.

[2017-08-24 18:51] jw442251 opened #259 "addldapgrouplink missing?"
pyapi-gitlab (7.8.5) / python2.7.11.

addldapgrouplink() seems to be missing:
             AttributeError: 'Gitlab' object has no attribute 'addldapgrouplink'

when selecting in the python ide shell (>>> gitlab.Gitlab.)  the listed attiributes are :
...
adddeploykey
addgroupmember
addprojecthook
addprojectmember
addsshkey
...

with addldapgrouplink missing.

[2017-11-25 10:41] bazimov opened #262 "Please release new version of the lib."
We wanted to use enable_deploy_keys function but seems like new version has not been released for quite some time now. Can you please release often?

[2017-11-28 10:04] umlaeute commented on #250
GitLab has now dropped support for APIv3 - which makes `pyapi-gitlab` unusable with newer gitlab instances.

[2017-12-05 01:59] mattwilmott commented on #250
Yeah just encountered this myself when my Ansible playbooks started failing. sad_panda

[2017-12-05 09:58] umlaeute opened #263 "nameclash with 'python-gitlab'"
there's another project that provides access to the gitlab API for Python, named `python-gitlab`

    https://github.com/python-gitlab/python-gitlab

both this project and the other one use the same import name

[code]

unfortunately, the two projects have a different API...

I don't really know nor care which of the two projects has a deeper claim on the name, but i'd suggest the two projects coo

[2017-12-05 09:59] umlaeute commented on #263
i've also opened a ticket on the "other" project: https://github.com/python-gitlab/python-gitlab/issues/385

[2017-12-06 03:49] Sudo-Kid commented on #263
@umlaeute I'm with @gpocentek. This is a bad situation for both libs. I'm finding it really hard to get time for this project as is.

If we change the namespace it will negatively affect a Debian package as well as everyone that currently uses the lib. It would be like Debian changing the `python3-gitlab` package from this one to `python-gitlab`. It would affect businesses in a negative way that u

[2017-12-06 03:49] #263 closed, assigned to nobody

[2017-12-06 03:53] Sudo-Kid commented on #250
This is a work in progress. I would like to finish it but have been lacking time. Will be trying to get back to development on this project this week or next though.

[2018-01-04 19:19] zying16 opened #264 "add one args (sha) in getfilearchive() to allow get other branch file archive"
Right now with getfilearchive(), it is not possible to get other branch file archive only the default branch.
Add a new args (sha) to specify which branch to get file archive.

[2018-02-12 12:02] ricky001 opened #265 "gitlab.exceptions.GitlabHttpError: 403: 403 Forbidden"
While looping to get all branches of a project, the loop works fine but after sometime i am getting below error. What is main reason for getting the error. How it can be resolved

Traceback (most recent call last):
  File "C:\Users\diljale\AppData\Local\Programs\Python\Python36-32\lib\site-packages\gitlab\exceptions.py", line 247, in wrapped_f
    return f(*args, **kwargs)
  File "C:\Users\diljale

[2018-02-13 19:14] tillea opened #266 "Please tag releases"
Hi,
the release tags are listed up to 7.5.0 but your docs go way beyond this release.  Please update your tags which would for instance help to keep the Debian package up to date.
Thank you, Andreas.

[2018-03-19 11:10] jaydip189 opened #267 "need to give tag in import_url specific version"
is it possible at that time of import_url
git clone --branch v1.0.0-alpha.8 https://username:password@gitlab.com/username/antora.git

[2018-03-20 10:48] jaydip189 opened #268 "user_id project creation not working"
error
Traceback (most recent call last):
  File "Gitlab.py", line 8, in <module>
    user_project = jaydip189.projects.create({'name': 'project123'})
  File "C:\Users\jaydipsinh.jadeja\AppData\Local\Programs\Python\Python36-32\lib\site-packages\gitlab\exceptions.py", line 253, in wrapped_f
    raise error(e.error_message, e.response_code, e.response_body)
gitlab.exceptions.GitlabCreateError: 403:

[2018-05-04 15:02] patricialima opened #269 "I'm not able to block a user"
Hi,
Versions:
Python: 2.7
pyapi-gitlab: 7.8.5
Gitlab API version: 3
Gitlab: 7

I'm using  you package and I'm not able to block an user. For instance, when using the method blockuser is not I have an error .

git = gitlab.Gitlab(myural, verify_ssl=False)
 git.login(myusername, mypass)
git.blockuser(id=123)

AttributeError: 'Gitlab' object has no attribute 'blockuser'

Also, some all the methods th

[2018-05-23 20:47] ddj116 commented on #250
Just curious if any progress has been made towards supporting the newer Gitlab API.  My team needs this capability and will attempt to implement it if necessary, but if progress has already been made in a fork somewhere, please let me know so we don't re-invent the wheel.

[2018-05-24 06:47] umlaeute commented on #250
there's the [`python-gitlab`](https://github.com/python-gitlab/python-gitlab) project, which uses the same module name `gitlab` and allows you to access the APIv4, although the two modules are **not compatible**. (#263).

Following Debian's switch from `pyapi-gitlab` to `python-gitlab` for their `python3-gitlab` package (after an evaluation of the support both projects can currently give), I've pe

[2018-05-24 06:51] Sudo-Kid commented on #250
I'm still struggling to find time to work on this project. When I took over the project I was using Gitlab at work and this project though shortly after I took it over I was laid off and at my new job we use SVN. This and my hectic work schedule at the moment I'm not sure when I will have time to get back to working on this.

[2018-05-24 07:00] Sudo-Kid commented on #269
I have not had a chance to switch `blockuser` over to the newer pattern. This is an issue as it currently doesn't return the reason as to why the call didn't finish and in some cases even if the call was a success or not. We would need to convert `blockuser` over to the new pattern to figure out why its not working and I'm not sure when I will have time to do that.

The deprecated methods are stil

[2018-05-24 13:42] ddj116 commented on #250
Thanks for the tip, I'll check out `python-gitlab`.  If we end up making progress on `pyapigitlab` I'll try to feed those changes back here via pull request.

[2020-11-04 10:04] glennie commented on #265
Hello,
I've the same issue when I try loop on repositories.
Here is my simplified code:

[code]
I only get one repo id and, then the script fails with ``gitlab.exceptions.GitlabHttpError: 403: 403 Forbidden``.
May be I'm doing something wrong. So not sure if it is a bug.
Any help or directions will be appreciated.

Many thanks and kind regards,